name: Build & Release Windows Driver

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:
    inputs:
      version:
        description: "Version to build"
        required: true
        default: "v1.0.0"

env:
  VCPKG_ROOT: "c:/vcpkg"

jobs:
  build-windows64:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Get latest version of CMake
        uses: lukka/get-cmake@latest

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Cache vcpkg dependencies
        id: cache-vcpkg
        uses: actions/cache@v4
        with:
          path: ${{ env.VCPKG_ROOT }}/installed
          key: vcpkg-x64-windows-boost-${{ hashFiles('.github/workflows/build.yaml') }}
          restore-keys: |
            vcpkg-x64-windows-boost-

      - name: Install dependencies
        run: |
          vcpkg integrate install
          vcpkg install boost-test:x64-windows boost-asio:x64-windows boost-chrono:x64-windows boost-interprocess:x64-windows boost-regex:x64-windows boost-system:x64-windows boost-thread:x64-windows --recurse
        env:
          VCPKG_INSTALLED_DIR: ${{ env.VCPKG_ROOT }}/installed

      - name: Build driver
        run: .\build_win_release64.ps1

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: trino-odbc-driver-win64
          path: build/odbc/cmake/Release

  release:
    needs: build-windows64
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: trino-odbc-driver-win64
          path: driver

      - name: Zip artifacts
        run: |
          cd driver
          zip -r ../trino-odbc-driver-win64.zip .

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: trino-odbc-driver-win64.zip
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
